<h2 class='spec-edit-title' contenteditable="true">{{model.title}}</h2>
<li class='spec-edit-date' contenteditable="true">{{model.date}}</li>
<li class='spec-edit-notes' contenteditable="true">{{model.notes}}</li>
{{#link-to "reminders.reminder" model.id}}
  <button {{action "edit"}}>submit</button>
{{/link-to}}
