<form class="" action="index.html" method="post">
  <input class="title" type="text" value="" placeholder="title...">
  <input class="date" type="text" value="" placeholder="date...(mm/dd/yyyy)">
  <input class="notes" type="text" value="" placeholder="notes...">
  <button {{action "submitReminder"}}>submit</button>
</form>
