<form class="" action="index.html" method="post">
  <input class="spec-input-title" type="text" value="" placeholder="title...">
  <input class="spec-input-date" type="text" value="" placeholder="date...(mm/dd/yyyy)">
  <input class="spec-input-notes" type="text" value="" placeholder="notes...">
  <button {{action "submitReminder"}} class="spec-add-new">submit</button>
</form>
