{{outlet}}
{{#each model as |reminder|}}
  <ul>
    <h2>
      {{#link-to "reminders.reminder" reminder.id class='spec-reminder-item'}}
        {{reminder.title}}
      {{/link-to}}
    </h2>
  </ul>
{{/each}}

{{#link-to "reminders.new"}}
  New Reminder
{{/link-to}}
